@page
@model WebApplication7.Pages.ProcessModel
@{
}

<div>
    <h1 class="display-4">Welcome user to the CDA Training Web App</h1>

    <p class="text-center">
        <img alt="" src="https://d1hbpr09pwz0sk.cloudfront.net/logo_url/critical-design-associates-inc-ab9cc379" class="center"/>
    </p>

    <p>
        <input id="Checkbox1" type="checkbox" />
    </p>
    
    <p>
        <input id="Button1" type="button" value="Logout" onclick="window.location.href = 'https://localhost:44352/login'" /> 

    </p>

</div>